* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.menuBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
}

.menuBar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.menuBarContent {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
}

.menuBarContentTop {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuBarContentTop input {
    border: none;
    letter-spacing:0.5px;
    font-size: 1.2rem;
    width: 11rem;
    padding: 2px;
    margin-left: 0.3rem;
    background-color: transparent;
}

.menuBarContentBottom{
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.menuBarContentBottom h5 {
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight:500;
    font-size: 16px;
    letter-spacing: 0.6px;
    
}


 



@media screen and (max-width: 610px) {
    .menuBarContainer{
        flex-direction: column;
        height: auto;
    }
}