

.mainNav {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
}

.navContainer {
    display: flex;
    gap:0.2rem;
    justify-content: center;
    width:94.5vw;
    background-color: #EDF2FA;
    flex-wrap: wrap;
    margin:1rem;
    border-radius: 1.5rem;
    align-items: center;
}


.undoContainer {
    padding:0.2rem;
    margin:0.2rem;
    cursor: pointer; 
    border-radius: 2px;
}
.undoContainer:hover {
    background-color: rgba(0,0,0,.2);
}

/* download */

.downloaddoc {
    position: fixed;
    bottom: 6vh;
    right: 5vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #c2e7ff, #c2e7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    animation: pulse 3.5s infinite;
  }
  
  .downloaddoc:hover {
    cursor: pointer;
    background: linear-gradient(to right, #0984e3, #0984e3);
    color: white;
    font-weight: bold;
   
  }
  .downloaddoc i {
    font-size: 2.5rem;
    color: white;
  }

.undoContainer:active{
    background-color: skyblue;
}
:local .active{
    background-color: skyblue;
}

@media only screen and (max-width:320px) and (max-width:375px)  and (max-width:425px) {
    .mainNav{
        width:99vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .navContainer{
        width:90vw;
        margin:0.5rem;
        border-radius: 1rem;
        padding-right:1.5rem;
        margin:0.9rem;
    }
}


.box{
    border: 1px solid rgb(182, 182, 182);
    height:100vh;
    width:50vw;
    padding: 3rem;
    background-color: #FFFFFF;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;  
    outline: none;
   margin:1rem;
   
}

.contentContainer {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media only screen and  (max-width:1100px){
    .box {
        width:75vw;
        margin:0.5rem;
        padding:2rem;
    }
    .downloaddoc {
        width: 50px;
        height: 50px;
      }
      .downloaddoc i {
        font-size: 2rem;
      }
    

}
@media only screen and (max-width:320px) and (max-width:375px){
    .box {
        width:60vw;
        margin:0.5rem;
        padding:2rem;
    }
    .downloaddoc {
        width: 40px;
        height: 40px;
        bottom: 4vh;
        right: 4vw;
      }
      .downloaddoc i {
        font-size: 1.5rem;
      }

}

@media only screen and (max-width:768px){
    .box {
        /* width:75vw; */
        width:62vw;
        margin:0.5rem;
        padding:2rem;

    }
    .downloaddoc {
        width: 43px;
        height: 50px;
      }
      .downloaddoc i {
        font-size: 2rem;
      }
    
}

@keyframes pulse {
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }